/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.ant-btn > .anticon + span,
.ant-btn > span + .anticon {
  margin-left: 4px;
}
.ant-btn-lg {
  padding: 4px 23px;
}
.ant-btn-primary:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-primary:hover:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-default:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-default:hover:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-dashed:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-dangerous {
  color: #ff4d4f;
}
.ant-btn-dashed:hover:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-round:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-round:hover:disabled {
  color: rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.15);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-group {
  margin-right: 4px;
}
.ant-btn-group Button:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.05);
}
.ant-btn-group Button:hover {
  opacity: 0.92;
}
.ant-btn-group Button:hover:disabled {
  color: rgba(0, 0, 0, 0.25);
  background-color: rgba(0, 0, 0, 0.05);
}
